.evil_text_letter_1 {
    color: #EA4335;
}

.evil_text_letter_2 {
    color: #4285F4;
}

.evil_text_letter_3 {
    color: #EA4335;
}

.evil_text_letter_4 {
    color: #FBBC05;
}

.evil_text_letter_5 {
    color: #4285F4;
}

.evil_text_letter_6 {
    color: #34A853;
}