@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.App {
    min-width: 480px;
    min-height: 270px;
}

h1, h2, h3, h4, h5, h6, p, span, div {
    cursor: default;
}